<html>
    <head>
        <title>Monica's blog</title>
    </head>
    <body>
        <div>
            <h1>Monica's blog</h1>
            <p> <strong>one blog to rule them all</strong> </p>
        </div>

        <br /><br />

        <div>
            <h2><a href="">Ori suntem golani, ori nu mai suntem</a></h2>
            <p>published: 14.06.2014, 12:14</p>
            <p>Ieeeee mergeee!</p>
        </div>

        <br />

        <div>
            <h2><a href="">Smartass.com</a></h2>
            <p>published: 14.06.2014, 12:14</p>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>

         <br />

        <div>
            <h2><a href="">Time to eat</a></h2>
            <p>published: 14.06.2014, 12:14</p>
            <p>Om nom nom nom food yay yay inimioare iupiiii <3.</p>
        </div>

        {% for post in posts %}
    		<div>
    			<br />
    			<h2><a href="">{{ post.title }}</a></h2>
    			<p>published: {{ post.published_date }}</p>
        		<p>{{ post.text|linebreaks }}</p>
    		</div>
		{% endfor %}
    </body>
</html>
